.contenedor{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border: 0.5px solid #b6b6b6;
    border-radius: 4px;
    margin-top: 3%;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido{
    border: 0.5px solid #b6b6b6;
    margin-left: 5%;
    margin-right: 5%;
}

.botones{
    padding: 1rem;
    display: flex;
    margin-left: 2%;
    justify-content: flex-end;
    margin-top: 3%;
}